POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/postgres

RABBITMQ_DEFAULT_USER=rmuser
RABBITMQ_DEFAULT_PASS=rmpassword
RABBITMQ_URL=rmurl
